**/build/**
**/bin/**
**/lib/**

**/.DS_Store
**/.vscode/**
**/.zed/**
**/.cache/**

**/*.o/

**/cmake-build-debug/**
**/cmake-build-release/**
**/cmake-build-minsizerel/**
**/cmake-build-relwithdebinfo/**

**/.idea/**
**/.vscode/

# Some local docs
**/line_vs_swept_sphere.md
**/__pycache__/
tools/lightmapper/debug_lightmap.png
tools/lightmapper/debug_uv_maps.png
tools/lightmapper/temp/lightmap.hdr

**/assets/models/**
**/assets/maps/**
**/assets/textures/**
**/assets/audio/**
**/assets/blender/**
**/assets/photos/**
**/logs/**

**/*.zip
.env
