**/build/**
**/bin/**
**/lib/**

**/.DS_Store
**/.vscode/**

**/*.o/

**/cmake-build-debug/**
**/cmake-build-release/**
**/cmake-build-minsizerel/**
**/cmake-build-relwithdebinfo/**

**/.idea/**

# Some local docs
**/line_vs_swept_sphere.md
**/__pycache__/
tools/lightmapper/debug_lightmap.png
tools/lightmapper/debug_uv_maps.png
tools/lightmapper/temp/lightmap.hdr

**/assets/**
**/logs/**
