**/build/**
**/bin/**
**/lib/**

**/.DS_Store
**/.vscode/**
**/.zed/**
**/.cache/**

**/*.o/

**/cmake-build-debug/**
**/cmake-build-release/**
**/cmake-build-minsizerel/**
**/cmake-build-relwithdebinfo/**

**/.idea/**
**/.vscode/

# Some local docs
**/line_vs_swept_sphere.md

# Assets
**/assets/models/**
**/assets/maps/**
**/assets/textures/**
**/assets/audio/**
**/assets/blender/**
**/assets/photos/**
# explicitly include default.png as this texture will be used if the target thexture is not found
!**/assets/textures/dfault.png

# Logfiles
**/logs/**

**/*.zip
.env


# lightmapper
**/__pycache__/**
**/debug/**
**/assets/compiled/**
**/temp/**
tools/lightmapper/souper/bin/**
